{
    "root": true,
    "extends": ["@developomp-site/eslint-config", "plugin:react/recommended"],
    "settings": {
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "react/react-in-jsx-scope": "off"
    }
}
