{
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:json/recommended",
		"prettier"
	],
	"settings": {
		"node": {
			"tryExtensions": [".js", ".jsx", ".json"]
		},
		"react": {
			"version": "18.0"
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"sourceType": "module"
	},
	"plugins": ["@typescript-eslint"],
	"rules": {
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off",
		"react/react-in-jsx-scope": ["off"]
	}
}
