@import "@fontsource/noto-sans-kr/latin-400.css";
@import "@fontsource/noto-sans-kr/latin-700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* SvelteKit has 8px margin by default for some reason */
    margin: 0;
}

#root {
    /* color */
    @apply font-noto-sans dark:bg-dark-ui-bg dark:text-dark-text-default;
}

main {
    /* style */
    @apply flex;

    width: 100%;
    padding: 0 2rem;
    max-width: 64rem;
    flex-direction: column;
    padding-bottom: 5rem;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    /* center main horizontally */
    margin: 0 auto;
}

* {
    font-weight: 400;
}

h1 {
    @apply my-5 text-center text-4xl;
}

h2 {
    /* color */
    @apply dark:bg-dark-text-default dark:text-dark-ui-bg;

    /* text */
    @apply text-3xl font-bold;

    /* spacing */
    @apply mb-5 mt-20 px-4 py-1;
}

a {
    /* style */
    @apply no-underline hover:underline;

    /* color */
    @apply text-anchor hover:text-anchor-accent;
}

p {
    line-height: 1.5;
}

b {
    font-weight: 700;
}

/* table */

table {
    @apply table-fixed;
    border-collapse: collapse;
    border-spacing: 1rem 0;

    margin-bottom: 1rem;
}

td {
    padding: 8px;
    width: 10rem;
}

/* 1st column */
td:nth-child(1) {
    text-align: right;
}

/* 2nd column */
td:nth-child(2) {
    text-align: left;
}

.social-profile {
    * {
        color: #888888;
        transition: color 0.15s ease-out;
    }

    svg {
        width: 2.5rem;
    }

    :hover {
        color: #ffffff;
    }
}
