@import "@fontsource/noto-sans-kr/400.css";
@import "@fontsource/noto-sans-kr/700.css";

body {
    /* SvelteKit has 8px margin by default for some reason */
    margin: 0;
}

main {
    display: flex;
    width: calc(100% - 2rem);
    max-width: 64rem;
    flex-direction: column;
    padding-bottom: 5rem;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    /* center main horizontally */
    margin: 0 auto;
}

* {
    font-weight: 400;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    margin-top: 5rem;

    font-weight: 700;
    font-size: 1.6rem;
}

p {
    line-height: 1.5;
}

b {
    font-weight: 700;
}

/* table */

table {
    border-collapse: collapse;
    border-spacing: 1rem 0;

    margin-bottom: 1rem;
}

th {
    background-color: #ffffff22;
    font-weight: 700;
}

th,
td {
    padding: 8px;
    text-align: center;
    width: 10rem;
}

th:nth-child(1),
td:nth-child(1) {
    text-align: right;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: left;
}
