<svg xmlns="http://www.w3.org/2000/svg" width="480" height="600">
	<style>
		<%= style %>
	</style>

	<foreignObject x="0" y="0" width="100%" height="100%">
		<div
			xmlns="http://www.w3.org/1999/xhtml"
			xmlns:xlink="http://www.w3.org/1999/xlink"
		>
			<h2>Programming Languages</h2>

			<%- include("badges.ejs", { badges: data.programmingLanguage }) %>

			<h2>Front End</h2>

			<h3>Web</h3>

			<%- include("badges.ejs", { badges: data.frontEndWeb }) %>

			<h3>Desktop</h3>

			<%- include("badges.ejs", { badges: data.frontEndDesktop }) %>
		</div>
	</foreignObject>
</svg>
