<div class="badge">
	<div class="badge-box" style="background-color: <%= badge.hex %>">
		<div class="icon-container <%= badge.isDark ? 'white' : 'black' %>">
			<%- badge.svg %>
		</div>
	</div>
	<%= badge.title %>
</div>
